page-post {
  background-color: var(--ion-color-light); /* Fundo cinza quase branco */

  .post-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black; /* Fonte em preto */
  }

  .post-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 15px;
    border-bottom: 1px solid var(--ion-color-light);
  }

  .post-label {
    color: black; /* Fonte em preto */
    font-weight: bold;
  }

  .post-input {
    border-radius: 5px;
    border: 1px solid black; /* Bordas pretas */
    padding: 10px;
  }

  .error-message {
    color: var(--ion-color-danger);
    font-size: 0.8em;
    margin-top: 5px;
  }

  .success-message {
    color: var(--ion-color-success);
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
  }

  .post-button {
    margin: 20px auto; /* Centralizado */
    --background: var(--ion-color-success); /* Botão verde */
    --border-radius: 5px;
    --box-shadow: none;
    --color: black; /* Fonte em preto */
    --padding-start: 10px; /* Reduzindo o padding */
    --padding-end: 10px; /* Reduzindo o padding */
    border-left: 3px solid var(--ion-color-success); /* Adicionando borda à esquerda */
    border-right: 3px solid var(--ion-color-success); /* Adicionando borda à direita */
  }

  input[type="file"] {
    display: none;
  }

  // Adicionando um estilo para o botão de seleção de arquivo personalizado
  .custom-file-input {
    display: inline-block;
    background-color: var(--ion-color-success); /* Alterado para verde */
    color: black; /* Fonte em preto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

ion-header {
  ion-toolbar {
    ion-title {
      color: black; /* Fonte em preto */
    }
  }
}

ion-content.custom-content {
  .custom-container {
    .custom-form {
      .custom-list {
        ion-item {
          ion-label {
            color: black; /* Fonte em preto */
          }
          ion-input,
          ion-datetime {
            border-color: black; /* Bordas pretas */
          }
        }
      }
    }
  }
}

.success-message {
  color: var(--ion-color-success); /* Alterado para verde */
  margin-top: 10px;
}

.error-message {
  color: var(--ion-color-danger);
  margin-top: 10px;
}
