<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.imageUrl" alt="Imagem do item"></ion-img>
      <ion-list lines="full">
        <ion-item>
          <ion-label>Preço</ion-label>
          <ion-text>{{ item.price | currency: 'BRL' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Data de Produção</ion-label>
          <ion-text>{{ item.productionDate | date: 'dd/MM/yyyy' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Quantidade</ion-label>
          <ion-text>{{ item.quantity }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-text>{{ item.type }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Nome do usuário</ion-label>
          <ion-text>{{ item.nome }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-text>{{ item.cidade }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Telefone</ion-label>
          <ion-text>{{ item.telefone }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
